# Lab2

### 1) Return the largest item from the given list
aList = [4, 6, 8, 24, 12, 2]

Expected Output:
24

In [10]:
aList = [4, 6, 8, 24, 12, 2]
max(aList)

24

### 2) Write a function func1() such that it can accept a variable length of  argument and print all arguments value

Example:\
func1(20, 40, 60)\
20\
40\
60

func1(80, 100)\
80\
60

In [14]:
def func1(* args):
    for i in args:
        print(i)

In [12]:
func1(2,3,3)

2
3
3

### 3) using a set variable remove the duplicates present in the following tuple, then print it sorted
aTuple=(1,2,3,5,6,6,7,2,3,7,3,25,23,3,41)

In [29]:
aTuple=(1,2,3,5,6,6,7,2,3,7,3,25,23,3,41)
x=set(aTuple)
nexl=list(x)
nexl.sort()
nexl

[1, 2, 3, 5, 6, 7, 23, 25, 41]

In [27]:
nexl

### 4) concatenate two lists index wise
list1 = ["M", "na", "i", "Ke"] \
list2 = ["y", "me", "s", "lly"]

In [42]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3=[]
for i in range(len(list1)):
    list3.append(list1[i]+list2[i])
list3

['My', 'name', 'is', 'Kelly']

In [43]:
#or with a comprehension
[i+j for i,j in zip(list1,list2)]

['My', 'name', 'is', 'Kelly']

### 5) Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order\
list1 = [10, 20, 30, 40]\
list2 = [100, 200, 300, 400]\
Expected Output:\
10 400\
20 300\
30 200\
40 100

In [65]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for i,j in zip(list1,list2[::-1]):
    print (i,j)

10 400
20 300
30 200
40 100

### 6) Remove empty strings from the list of strings:\
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]\
Expected output:\
["Mike", "Emma", "Kelly", "Brad"]

In [66]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
[i for i in list1 if i!='']

['Mike', 'Emma', 'Kelly', 'Brad']

### 7) Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value\
list1 = [5, 10, 15, 20, 25, 50, 20]\
expected output:\
list1 = [5, 10, 15, 200, 25, 50, 20]

In [72]:
list1 = [5, 10, 15, 20, 25, 50, 20]
list1[list1.index(20)]=200
list1

[5, 10, 15, 200, 25, 50, 20]

### 8) Given a Python list, create a function that can remove all the elements in the list with a specific value\
list1 = [5, 10, 15, 20, 25, 50, 20]\
expected output:\
func1(list1,20)\
[5, 10, 15, 25, 50]

In [79]:
list1 = [5, 10, 15, 20, 25, 50, 20]
def func1(lis,kill):
    return [i for i in lis if i!=kill]
func1(list1,5)

[10, 15, 20, 25, 50, 20]

### 9) You need to use the log mathematical function, but you already defined a function log that is used to record your output data, but still you don't want to use the name math.log, so you decide to import log with the name ln\
expected output:\
ln(10)\
2.302585092994046

In [82]:
from math import log as ln
ln(10)

2.302585092994046